.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2
        = @group.name
      %ul
        Member:
        %li<
          -# = @group.users.name
          =  @group.users.pluck(:name).join(", ")
    .chat-main__group-info__edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .chat-main__messages
    = render @messages
    
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image-file'
        = f.submit 'Send', class: 'submit-btn'